*{
    margin: 0;
    padding: 0;
}
#navigration{
    background-image: linear-gradient(dodgerblue, rgb(1, 62, 122));
    background-color: dodgerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navigration > ul{
    display: flex;
    margin-right: 50px;
}
#navigration > ul > li {
    list-style: none;
    padding: 15px 0px;
}
#navigration > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-right: 1px solid white;
    padding: 15px 20px;
    transition: .5s;
}
#navigration > ul > li:first-child > a{
    border-left: 1px solid white;
}
#navigration > ul > li:hover > a{
    background-color: rgb(3, 87, 172);
}
.logo > h2{
    color: white;
    margin-left: 50px;
}
.logofirstletter{
    color: yellow;
    tab-size: 30px;
}

/* dropdown menu starts */
.dropdown{
    opacity: 0;
    visibility: hidden;
    background-color: dodgerblue;
    text-align: center;
    margin-top: 15px;
    width: 190px;
    position: absolute;
    box-shadow: 10px 10px 8px black;
    transition: 0.5s;
    transform: scaleY(0);
    transform-origin: top;
}
.dropdown > li{
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid white;
}
.dropdown > li:hover{
    background-color: rgb(3, 87, 172);
}
.dropdown > li:first-child{
    border-top: 1px solid white;
}
.dropdown > li > a{
    text-decoration: none;
    color: white;

}
#navigration > ul > li:hover > .dropdown{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

/* Hero area code start here */
#main-header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.644)), url('img/webheader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 92vh;
}
.header-Container{
    padding-top: 100px;
}
.header-Container > h1 {
    background-color: rgb(2, 68, 134, 0.671);
    width: 500px;
    margin: 20px auto;
    color: white;
    font-size: 50px;
    padding: 15px 25px;
    border-radius: 10px;

}

.header-Container > button{
    font-size: 22px;
    padding: 15px 25px;
    margin-top: 20px;
    background-color: #01264bb6;
    color: white;
    border-radius: 30px 10px 30px 10px;
    border: 4px solid green;
    cursor: pointer;
    transition: 0.5s;

}

.header-Container > button:hover{
    background-color: rgba(0, 0, 0, 0.192);
}

.header-Container > h4{
    font-size: 25px;
    color: rgb(36, 35, 35);
}
.header-Container > h5{
    font-size: 25px;
    color: rgb(36, 35, 35);
    margin-bottom: 50px;
}

.socialicon > a {
    color: white;
    text-decoration: none;
}
.socialicon > a > i{
    width: 50px;
    height: 50px;
    line-height: 1.6;
    font-size: 30px;
    background-color: rgba(0, 128, 0, 0);
    padding: 5px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 10px 5px;
    transition: 0.5s;
}

.socialicon > a > i:hover{
    background-color: #01264bb6;
    border-color: green;
    transform: rotate(360deg);
}





/* first section code start here */

#first-container{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.first-design{
    width: 300px;
    text-align: center;
    padding: 30px 10px;
    transition: 0.5s;
}
.first-design > i {
    font-size: 50px;
}
.first-design > h2{
    margin: 15px 0;
}
.first-design:hover{
    box-shadow: 3px 3px 10px gray;
}


/* secound section code start here */

.smartArea-title > h2{   
    font-size: 40px;
    text-align: center;
    position: relative;
    
}

.smartArea-title > h2::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: #830707;
    top: 56px;
    left: 46%;
}

.smart-area{
    display: flex;
    width: 1000px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.smart-area-text{
    width: 500px;
}

.smart-area-text > h4{
    color: #830707;
}
.smart-area-text > h2{
    margin: 20px 0;
}

.smart-area-text > a{
    text-decoration: none;
    background-color: #830707;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    margin: 20px 0;
    display: inline-block;
    border-radius: 5px;
    transition: .5s;
}

.smart-area-text > a:hover{
    background-color: #420101;
}

/* Third section code start here */
#third-section{
    background-color: #fdfdfd;
}
.services-area{
    width: 1000px;
    margin: auto;
}
.services-area-title{
    text-align: center;
    padding: 40px 0 60px 0;
}

.services-area-title > h2 {
    font-size: 40px;
}


.each-services-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-bottom: 60px;
}

.each-services{
    background-color: lightblue;
    text-align: center;
    padding: 30px 0;
    transition: 0.5s;
}

.each-services:hover{
    background-color: #d3e4e9;
}

.each-services > i{
    font-size: 40px;
    color: #830707de;
}

.each-services > h3{
    margin: 15px 0;
}


/* furth Sectin code start here */
#fourth-section{
    background-color: whitesmoke;
}

.pricing-area-container{
    width: 1000px;
    margin: auto;
    padding-bottom: 100px;
}

.pricing-title{
    text-align: center;
    font-size: 35px;
    padding: 50px 0;
}
.pricing-area-parent{
    display: flex;
    justify-content: space-between;
}

.single-card-img{
    width: 310px;
}

.single-card-img > img{
    width: 100%;
}

.single-card{
    width: 310px;
    text-align: center;
    box-shadow: 5px 5px 10px gray;
}

.single-card > h3{
    margin: 10px 0;
    font-size: 25px;
}

.month-pricing{
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
    padding: 15px 0;
    margin: 15px 20px;
}

.month-pricing > .month-pricing-span1{
    font-size: 25px;
}

.month-pricing > .month-pricing-span2{
    color: gray;
}

.single-card > button{
    background-color: #830707;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.single-card > button:hover{
    background-color: #83070700;
    color: black;
}

.single-card > a{
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Testimonial Section Start */

#five-section{
    background-color: bisque;
}


.testo-container{
    width: 1000px;
    margin: auto;
    padding-bottom: 100px;
}

.testimonial-title{
    text-align: center;
    padding: 50px 0;


}

.testimonial-title h2{
    font-size: 35px;
    margin-bottom: 10px;
}

.testimonial-title h4{
    color: gray;
    letter-spacing: 0.3em;
}

.testo-singleCard-parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.testo-singleCard{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.testo-image-div{
    width: 200px;
    margin-right: 20px;
}

.testo-image-div img{
    max-width: 100%;
    border-radius: 50%;
    border: 2px solid red;
}

.testo-span{
    font-size: 22px;
    margin-bottom: 10px;
    display: inline-block;
}


.testo-rating{
    color: #ffa534;
    margin-top: 10px;
}



/* seventh code start */   /* parallax code start */

#parallax-section{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 80px 0;
}


.parallax-items-parent{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
    text-align: center;
    color: white;
    
}

.parallax-single-item  i {
    font-size: 40px;
}

.parallax-single-item h2{
    font-size: 40px;
    margin: 20px 0;
}



/* Blog section code start */


.blog-iteams-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.blog-container{
    width: 1000px;
    margin: auto;
    padding-bottom: 100px;
}

.blog-image{
    max-width: 100%;
    height: 250px;
    transition: 0.5s;
}




.blog-icons{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    color: white;
    font-size: 22px;
    opacity: 0;
    transition: 0.5s;
}

.blog-image-icon-div{
    position: relative;
    overflow: hidden;
}

.blog-image-icon-div:hover .blog-icons{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.486);
}
.blog-image-icon-div:hover .blog-image{
    transform: scale(1.6);
    
}
.blog-icons i{
    font-size: 40px;
    margin-bottom: 20px;
}

.single-item-text{
    text-align: center;
    margin: 10px 0;
}

.single-item-text p{
    margin-top: 10px ;
    color: rgba(90, 90, 90, 0.596);
}



/* Contact Section */

.contact-container{
    width: 1000px;margin: auto;
    padding-bottom: 100px;

}

.form-parent{
    background-color: #eaecf0;
    display: flex;
}

.fullname-email-parent{
    display: flex;
}
.fullname-email-parent input{
    width: 200px;
    height: 40px;
    margin: 0 20px;
    border: none;
    padding: 0 10px;
}

.fullname-email-parent h4{
    margin: 40px 20px 10px 20px;
}
.form-tag{
    width: 600px;
}
.subject-input-text{
    margin: 20px 20px 10px 20px;   
}
.subject-input{
    width: 85%;
    height: 40px;
    margin: 0 20px;
    border: none;
    padding: 0 10px;
}

.form-textarea{
    width: 85%;
    border: none;
    height: 100px;
    margin: 0 20px;
    padding: 5px 10px;
}

.form-button{
    background-color: #3252af;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 20px 0 0 20px;
}

.form-address-parent{
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
}

.form-single-address{
    text-align: center;
}

.form-single-address i{
    background-color: #3252af;
    color: white;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 20px;
    
}

.form-single-address span{
    font-weight: bold;
}